@import "../../Styles/Colors.scss";

.Board {
  display: flex;
  flex-direction: column;
  background-color: $grey_background;
  padding: 1rem;
  > .BoardHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    > .GameTitle {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    > .GameStatus {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
    }
  }
}
